body {}

html {
  font-size: 50%;
}

.desktop,
nav.desktop {
  display: none;
}

.mobile {
  display: initial;
}

/* --HEADER */
.header-content .logo {}

/* --HOME */
.home-content {
  height: fit-content;
  text-align: center;
  padding-top: 2rem;
}

.home-content .text-section {
  width: 100%;
}

.home-content .sub-text {
  font-size: 1.6rem;
  width: 100%;
  line-height: 3rem;
}

.home-content .mobile {
  /* Imagem */
  max-width: 60%;
  margin: 0 auto;
}

.home-content button {
  margin: 0 auto;
}

/* --PARTNERS SECTION */
.partners-content {
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5rem;
}

.partners-card {
  width: 30%;
}

/* --OUR DATA */
.data-container {
  flex-direction: column;
}

.our-data-section {
  height: fit-content;
}

.our-data-content {
  padding: 0;
}

/* --HOW IT WORKS */
.how-it-works-heading {
  margin-bottom: 5rem;
  text-align: center;
}

.functionalities-group {
  flex-direction: column;
  text-align: center;
}

/* --FORM */
.product-form-content {
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 1.5rem auto 0 auto;
}

.header-content {
  justify-content: center;
  text-align: center;
}

.first-row,
.second-row {
  display: flex;
  justify-content: start;
  align-items: self-start;

  gap: 1.5em;
}

.main-benefits-section .section-title {
  font-size: 4rem;
}

.benefit h3,
.benefit p {
  font-size: 1.5rem;
}

.footer-section {
  padding-top: 2rem;
}

.footer-content nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.footer-content nav ul li a {
  font-size: 2rem;

}

.footer-truck-logo img {
  width: 12rem;

}



.footer-content nav ul li:nth-child(4) {
  order: -1;
}