:root {
  --green-100: #e2f5ef;
  --green-300: #e3f9e7;
  --green-500: #3cbd96;
  /* Buttons background */
  --green-700: #204945;
  /* Headings and topics */

  --gray-400: #5a5f6a;
  /* Nav Links */
  --gray-300: #777e90;
  /* Sub-texts */
  --gray-200: #c9c9c9;
  /* Input-Borders and Input-Placeholders */
  --gray-100: #e5e5e5;
  /* Input-Borders */

  --red-500: #e74c3c;
  /* Error messages */

  --black: #000000;
  --white: #ffffff;
}

/* --REGRAS GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
}

a {
  all: unset;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--green-500);
  color: var(--white);
  font-size: inherit;
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: filter 200ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anybody", cursive;
}

button:hover {
  filter: brightness(0.8);
}

button.desktop a.login {
  all: unset;
  text-decoration: none;
}

.mobile {
  display: none;
}

[class$="container"] {
  width: 100%;
}

[class$="content"] {
  max-width: 80vw;
  margin: 0 auto;
}

.section-title {
  font-size: 4.8rem;
  font-weight: bold;
  color: var(--green-700);
}

.section-subtitle {
  color: var(--gray-300);
  font-size: 1.6rem;
  font-weight: 500;
}

/* --HEADER */
.header-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.header-content>.logo {
  width: 100%;
  max-width: 12rem;
}

.header-content .bg-item {
  position: absolute;
  opacity: 32%;
  left: 0;
  top: -5rem;
  width: 40vw;
  z-index: -1;
}

.header-content button {
  font-family: "Poppins", sans-serif;
}

.header-content nav {
  display: flex;
  font-size: 1.6rem;
  gap: 5rem;
  color: var(--gray-400);
}

.header-content a:hover {
  color: #000;
  text-decoration: underline;
}

/* --HOME */
.home-content {
  display: flex;
  justify-content: space-between;
  height: 85vh;
  align-items: center;
}

.home-content .text-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}

.home-content .title {
  font-size: 4.2rem;
  text-transform: uppercase;
}

.home-content .sub-text {
  font-size: 1.6rem;
  width: 50rem;
  line-height: 3rem;
}

.home-content .image-section {
  width: 50%;
  align-self: end;
}

.home-content .image-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url("./assets/bg-world.svg");
  background-size: cover;
  z-index: -1;
}

.home-content .image-section img {
  max-width: 80%;
  min-width: 20rem;
  transform: scale(1.3) translateY(-9rem) translateX(2rem);
}

/* --PARTNERS SECTION */
.partners-container {
  margin: 5rem 0;
  background-color: var(--green-300);
  padding: 3rem;
}

.partners-heading {
  text-align: center;
  margin-bottom: 2.4rem;
}

.partners-content {
  display: flex;
  gap: 10rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.partners-card {
  max-width: 20rem;
}

.partners-card img {
  width: 100%;
  object-fit: cover;
}

/* --Our data section styles */
.our-data-section {
  margin: 6.4rem 0;
  width: 100%;
  height: 60vh;
}

.our-data-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8.4rem 0;
  text-align: center;
  height: 100%;
}

.data-title-container {
  align-items: flex-start;
}

.data-title-container h2 {
  margin-top: 0.8rem;
  opacity: 75%;
  color: var(--green-700);
}

.data-container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  height: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0 0.8rem;
}

.data strong {
  font-family: "Anybody", sans-serif;
  font-size: 6.4rem;
  color: var(--green-500);
}

.data i {
  font-size: 4rem;
}

.data span {
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 500;
}

/* --HOW IT WORKS SECTION */
.how-it-works-container {
  padding: 5rem 0;
  background-color: var(--green-300);
}

.how-it-works-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.functionalities-group {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.functionalities-group hr {
  border: 2px solid var(--green-500);
  border-radius: 2rem;
}

.functionality-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  flex: 1;
}

.functionality-item .image-box {
  padding: 1.6rem;
  background-color: var(--green-500);
  border-radius: 2.4rem;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
}

.functionality-item .image-box img {
  max-width: 100%;
}

.functionality-item h2 {
  font-size: 2rem;
  color: var(--green-700);
  margin-bottom: 1rem;
}

.functionality-item p {
  font-size: 1.8rem;
  color: var(--gray-300);
}

/* PRODUCT FORM SECTION */
.product-form-content {
  padding: 8rem 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.product-form-content .section-subtitle {
  color: var(--green-700);
  opacity: 75%;
}

.product-form-content form {
  max-width: 45rem;
  box-shadow: 0px 3.62573px 3.62573px rgba(60, 189, 150, 0.22);
  align-self: stretch;
}

.product-form-content div img {
  margin-top: 4.8rem;
  width: 30rem;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#name {
  margin-bottom: 1.6rem;
}

.label-container i {
  font-size: 2rem;
  color: var(--white);
}

.label-container>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  background-color: var(--green-500);
}

.label-container label {
  font-weight: 700;
}

.product-form-content form .options-group {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}

.options-group>div {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.options-group>div div>label {
  font-weight: 700;
}

.product-form-content form .button-group {
  margin-top: auto;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.product-form-content form .button-group button {
  font-weight: 500;
}

.product-form-content form .button-group button[type="submit"] {
  display: flex;
  justify-content: center;
  font-weight: 700;
  flex: 1;
}

.product-form-content form .button-group button[type="reset"] {
  background-color: var(--white);
  border: 1px solid var(--green-500);
  color: var(--green-500);
}

/* forms */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 3rem;
  background-color: var(--white);
  border-radius: 1rem;
  width: 100%;
  color: var(--gray-300);
}

.form-group .form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group .form-control>label {
  font-size: 2rem;
  color: var(--gray-400);
  font-weight: 500;
}

.form-group .form-control input,
.form-group .form-control textarea {
  padding: 1rem;
  border: 2px solid var(--gray-100);
  border-radius: 0.8rem;
  font-size: 1.6rem;
}

.form-group .form-control input:focus:invalid,
.form-group .form-control textarea:focus:invalid {
  border-color: var(--red-500);
}

.form-group .form-control input::placeholder,
.form-group .form-control textarea::placeholder {
  color: var(--gray-200);
}

.form-group .form-control textarea {
  resize: none;
}

.form-group .form-control input:focus,
.form-group .form-control textarea:focus {
  outline: none;
  border-color: var(--green-500);
}

/* main benefits styles section */
.main-benefits-section {
  padding: 5rem 0;
  background-color: var(--green-300);
}

.main-benefits-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8.4rem;
  flex-wrap: wrap;
  gap: 9.2rem;
}

.first-row,
.second-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 9.2rem;
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 30rem;
}

.benefit img,
.benefit i {
  width: 6rem;
  margin-bottom: 2rem;
}

.benefit i {
  font-size: 6rem;
}

.benefit h3 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  color: var(--green-700);
}

.benefit p {
  font-size: 1.8rem;
  text-align: center;
}

/* FAQ Section */
.faq-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 3rem;
  background-color: var(--white);
  gap: 2rem;
}

.question-title {
  color: var(--green-500);
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
}

.collapsible:after {
  /* Unicode para o sinal "mais" (+) */
  content: "\02795";
  font-size: 1.5rem;
  color: var(--white);
}

.active:after {
  /* Unicode para o sinal "menos" (-) */
  content: "\2796";
}

.active,
.collapsible:hover {
  background-color: var(--green-700);
  color: var(--white);
}

.question-answer {
  padding: 0 18px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* --UTILS */
.back-to-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--green-500);
  color: #ffffff;
  border-radius: 100%;
  padding: 1rem;
}

.back-to-top i {
  font-size: 2.5rem;
}

/* --FOOTER */
.footer-section {
  padding: 8.4rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content nav ul {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.footer-content nav ul li a {
  font-size: 1.6rem;
  font-weight: 700;
}

.footer-truck-logo {
  margin: 0 1.6rem;
}

.footer-truck-logo img {
  width: 8rem;
  transition: all 0.3s;
}

.footer-content nav ul {
  padding: 4.2rem;
  border-bottom: 1px solid var(--gray-400);
}

.footer-content nav ul li a:hover:not(.footer-truck-logo) {
  color: var(--green-700);
  border-bottom: 3px solid #3cbd96;
}

.footer-truck-logo img:hover {
  transform: scale(1.1);
}

.social-media-container {
  margin: 4.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

.social-media-container>div {
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--gray-400);
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  text-align: center;
}

.social-media-container>div i {
  font-size: 3rem;
}

.social-media-container>div a {
  width: 100%;
}

.social-media-container>div:hover {
  transform: scale(1.1);
}

.footer-info-container {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.footer-info-container span {
  display: flex;
  gap: 0.8rem;
  padding: 0.4 0;
}

.footer-info-container span a:hover {
  color: var(--green-700);
  border-bottom: 2.5px solid #3cbd96;
}