:root {
    --bg-body: #f0f0f5; /* Background Body default */

    --green-100: #e2f5ef;
    --green-300: #e3f9e7;
    --green-500: #3cbd96; /* Buttons background */
    --green-700: #204945; /* Headings and topics */

    --black-300: #5a5f6a; /* Nav Links */
    --black-400: #777e90; /* Sub-texts and Input-Placeholders */
}

/* --REGRAS GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Red Hat Display", sans-serif;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

a {
    all: unset;
    cursor: pointer;
    color: inherit;
}

button {
    all: unset;
    cursor: pointer;
    background-color: var(--green-500);
    color: #ffffff;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition: filter 200ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Anybody", cursive;
}

button:hover {
    filter: brightness(0.8);
}

[class$="container"] {
    width: 100%;
}

[class$="content"] {
    max-width: 80vw;
    margin: 0 auto;
}

.section-title {
    font-size: 4.8rem;
    font-weight: bold;
    color: var(--green-700);
}

.section-subtitle {
    color: var(--black-400);
    font-size: 1.6rem;
    font-weight: 500;
}

/* --HEADER */
.header-content {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

.header-content > .logo {
    width: 100%;
    max-width: 12rem;
}

.header-content .bg-item {
    position: absolute;
    opacity: 32%;
    left: 0;
    top: -5rem;
    width: 40vw;
    z-index: -1;
}

.header-content button {
    font-family: "Poppins", sans-serif;
}

.header-content nav {
    display: flex;
    font-size: 1.6rem;
    gap: 5rem;
    color: var(--black-300);
}

.header-content a:hover {
    color: #000;
    text-decoration: underline;
}

/* --HOME */
.home-content {
    display: flex;
    justify-content: space-between;
    height: 85vh;
    align-items: center;
}

.home-content .text-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
}

.home-content .title {
    font-size: 4.2rem;
}

.text-rectangle {
    width: fit-content;
    display: block;
    padding: 1rem 4rem;
    border: #204945 2px solid;
    border-radius: 1.6rem;
}

.home-content .sub-text {
    font-size: 1.6rem;
    width: 50rem;
    line-height: 3rem;
}

.home-content .image-section {
    width: 50%;
    align-self: end;
}

.home-content .image-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url("./assets/bg-world.svg");
    background-size: cover;
    z-index: -1;
}

.home-content .image-section img {
    width: 80%;
    transform: scale(1.5) translateY(-9vh);
}

/* Our data section styles */
.our-data-section {
    margin: 6.4rem 0;
    width: 100%;
    height: 60vh;
    background-color: var(--green-300);
}

.our-data-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8.4rem 0;
    text-align: center;
    height: 100%;
}

.data-title-container {
    align-items: flex-start;
}

.data-title-container h2 {
    margin-top: 0.8rem;
    opacity: 75%;
    color: var(--green-700);
}

.data-container {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    height: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0 0.8rem;
}

.data strong {
    font-family: "Anybody", sans-serif;
    font-size: 6.4rem;
    color: var(--green-500);
}

.data i {
    font-size: 4rem;
}

.data span {
    text-transform: capitalize;
    font-size: 2.4rem;
    font-weight: 500;
}

/* HOW IT WORKS SECTION */
.how-it-works-container {
    padding: 5rem 0;
    margin-top: 6.2rem;
}

.how-it-works-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.functionalities-group {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.functionalities-group hr {
    border: 2px solid var(--green-500);
    border-radius: 2rem;
}

.functionality-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    flex: 1;
}

.functionality-item .image-box {
    padding: 1.6rem;
    background-color: var(--green-500);
    border-radius: 2.4rem;
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
}

.functionality-item .image-box img {
    max-width: 100%;
}

.functionality-item h2 {
    font-size: 2rem;
    color: var(--green-700);
    margin-bottom: 1rem;
}

.functionality-item p {
    font-size: 1.8rem;
    color: var(--black-400);
}

/* main benefits styles section */
.main-benefits-section {
    margin-top: 12rem;
}

.main-benefits-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.benefits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8.4rem;
    flex-wrap: wrap;
    gap: 9.2rem;
}

.first-row,
.second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 9.2rem;
}

.benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
}

.benefit img,
.benefit i {
    width: 6rem;
    margin-bottom: 2rem;
}

.benefit i {
    font-size: 6rem;
}

.benefit h3 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
    color: var(--green-700);
}

.benefit p {
    font-size: 1.8rem;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--green-500);
    border-radius: 100%;
    padding: 1rem;
}

.back-to-top i {
    font-size: 2.5rem;
}
