:root {
  --green-100: #e2f5ef;
  --green-300: #e3f9e7;
  --green-500: #3cbd96; /* Buttons background */
  --green-700: #204945; /* Headings and topics */

  --gray-400: #5a5f6a; /* Nav Links */
  --gray-300: #777e90; /* Sub-texts */
  --gray-200: #c9c9c9; /* Input-Borders and Input-Placeholders */
  --gray-100: #e5e5e5; /* Input-Borders */

  --red-500: #e74c3c; /* Error messages */

  --black: #000000;
  --white: #ffffff;
}

/* --REGRAS GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
}

a {
  all: unset;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--green-500);
  color: var(--white);
  font-size: inherit;
  border-radius: 1rem !important;
  padding: 1rem 2rem;
  transition: filter 200ms;
}

button:hover {
  filter: brightness(0.8);
}
button.desktop a.login {
  all: unset;
  color: #fff !important;
}

.mobile {
  display: none;
}

[class$='container'] {
  width: 100%;
}

[class$='content'] {
  max-width: 80vw;
  margin: 0 auto;
}

.section-title {
  font-size: 4.8rem;
  font-weight: bold;
  color: var(--green-700);
}

.section-subtitle {
  color: var(--gray-300);
  font-size: 1.6rem;
  font-weight: 500;
}

/* --HEADER */
.header-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.header-content > .logo {
  width: 100%;
  max-width: 12rem;
}

.header-content .bg-item {
  position: absolute;
  opacity: 32%;
  left: 0;
  top: -5rem;
  width: 40vw;
  z-index: -1;
}

.header-content button {
  font-family: 'Poppins', sans-serif;
}

.header-content nav {
  display: flex;
  font-size: 1.7rem;
  gap: 5rem;
  margin-right: 26.5rem;
  color: var(--gray-400);
}

.header-content a:hover {
  color: #000;
  text-decoration: underline;
}
a {
  text-decoration: none !important;
  cursor: pointer !important;
  color: #000 !important;
  font-size: 1.8rem !important;
}
a:hover {
  transform: scale(1.1);
}
.img-truck {
  position: absolute;
  width: 577px;
  margin-top: 10rem;
  left: -3em;
  z-index: -1;
}

.svg-truck {
  position: absolute;
  bottom: 5rem;
  left: -4rem;
  z-index: -3;
}

.svg-form {
  position: fixed;
  right: 0;
  top: 0;
  z-index: -3;
}
.h1-login {
  color: var(--green-700);
  font-weight: bold;
  padding-bottom: 5rem;
}
.h3-login {
  color: var(--green-700);
  font-weight: 500;
}
.form-login {
  margin-top: 2rem;
}
.i-email,
.i-password,
.i-number {
  position: relative;
}
.i-email i,
.i-password i,
.i-number i {
  position: absolute;
  left: 0;
  top: 2rem;
  padding-left: 2rem;
  color: var(--gray-300);
  scale: 1.5;
  color: var(--green-700);
}
input[type='email'],
input[type='password'],
input[type='tel'] {
  line-height: 4rem;
  font-size: medium;
  border: 1px transparent;
  border-radius: 14px;
  box-shadow: 0 0 0px var(--black);
  background-color: var(--gray-100);
  transition: border 0.3s;
  padding: 0.5rem 5rem;
  width: 75%;
}
input[type='email']:focus,
input[type='password']:focus,
input[type='tel']:focus {
  box-shadow: 0 0 15px var(--green-700);
  outline: 0;
}
input[type='button'],
a {
  all: unset;
}
.form-link {
  all: unset;
  cursor: pointer;

  margin-top: 1rem;
}
.form-button {
  display: inline-flex;
  background-color: var(--green-700);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  width: 7.5rem;
  margin-top: -5rem;
  transition: background 0.3s;
}

.form-button:hover {
  background-color: var(--green-500);
}

.text-info-login {
  color: var(--green-700);
  font-size: medium;
  font-weight: bold;
  margin-top: 1rem;
  transition: color 0.2s;
  cursor: pointer;
}
.text-info-login:hover {
  color: var(--green-500);
}
