:root {
  --green-100: #e2f5ef;
  --green-300: #e3f9e7;
  --green-500: #3cbd96;
  /* Buttons background */
  --green-700: #204945;
  /* Headings and topics */

  --gray-400: #5a5f6a;
  /* Nav Links */
  --gray-300: #777e90;
  /* Sub-texts */
  --gray-200: #c9c9c9;
  /* Input-Borders and Input-Placeholders */
  --gray-100: #e5e5e5;
  /* Input-Borders */

  --red-500: #e74c3c;
  /* Error messages */

  --black: #000000;
  --white: #ffffff;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--green-500);
  color: var(--white);
  font-size: inherit;
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: filter 200ms;
}

.img-truck {
  position: absolute;
  width: 577px;
  bottom: 5em;
  left: -4em;
  z-index: -1;
}

.svg-truck {
  position: absolute;
  bottom: 5rem;
  left: -4rem;
  z-index: -3;
}

.svg-form {
  position: fixed;
  right: 0;
  top: 0;
  z-index: -3;
}

.h1-login {
  color: var(--green-700);
  font-weight: bold;
  padding-bottom: 5rem;
}

.h3-login {
  color: var(--green-700);
  font-weight: 500;
}

.h1-user-list {
  color: var(--green-700);
  font-weight: bold;
}

.form-login {
  margin-top: 10rem;
}

.i-name,
.i-email,
.i-password,
.i-number {
  position: relative;
}

.i-name i,
.i-email i,
.i-password i,
.i-number i {
  position: absolute;
  left: 0;
  top: 2rem;
  padding-left: 2rem;
  color: var(--gray-300);
  scale: 1.5;
  color: var(--green-700);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  line-height: 4rem;
  font-size: medium;
  border: 1px transparent;
  border-radius: 10px;
  box-shadow: 0 0 0px var(--black);
  background-color: var(--gray-100);
  transition: border 0.3s;
  padding: 0.5rem 5rem;
  width: 75%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  box-shadow: 0 0 15px var(--green-700);
  outline: 0;
}

input[type="button"],
a {
  all: unset;
}

.form-link {
  all: unset;
  cursor: pointer;

  margin-top: 5rem;
}

.form-button {
  display: inline-flex;
  background-color: var(--green-700);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  width: 7.5rem;
  margin-top: -1rem;
  transition: background 0.3s;
}

.form-button:hover {
  background-color: var(--green-500);
}

.text-info-login {
  color: var(--green-700);
  font-size: medium;
  font-weight: bold;
  margin-top: 5rem;
  transition: color 0.2s;
  cursor: pointer;
}

.text-info-login:hover {
  color: var(--green-500);
}