:root {
  --green-100: #e2f5ef;
  --green-300: #e3f9e7;
  --green-500: #3cbd96; /* Buttons background */
  --green-700: #204945; /* Headings and topics */

  --gray-400: #5a5f6a; /* Nav Links */
  --gray-300: #777e90; /* Sub-texts */
  --gray-200: #c9c9c9; /* Input-Borders and Input-Placeholders */
  --gray-100: #e5e5e5; /* Input-Borders */

  --red-500: #e74c3c; /* Error messages */

  --black: #000000;
  --white: #ffffff;
}

/* --REGRAS GERAIS */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: rem;
  display: flex;
  flex-direction: column;
}

.contain {
  margin: 0 auto !important;
  text-align: center;
}
a {
  all: unset;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--green-500);
  color: var(--white);
  font-size: inherit;
  border-radius: 1rem !important;
  padding: 1rem 2rem;
  transition: filter 200ms;
}

h1,
h2,
h3,
h4,
h5,
button:hover {
  filter: brightness(0.8);
}
button.desktop a.login {
  all: unset;
  color: #fff !important;
}

.mobile {
  display: none;
}

[class$='container'] {
  width: 100%;
}

[class$='content'] {
  max-width: 81vw;
  margin: 0 auto;
}

.section-subtitle {
  color: var(--gray-300);
  font-size: 1.6rem;
  font-weight: 500;
}

/* --HEADER */
.header-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.header-content > .logo {
  width: 100%;
  max-width: 12rem;
}

.header-content .bg-item {
  position: absolute;
  opacity: 32%;
  left: 0;
  top: -5rem;
  width: 40vw;
  z-index: -1;
}

.header-content button {
  font-family: 'Poppins', sans-serif;
}

.header-content nav {
  display: flex;
  font-size: 1.6rem;
  gap: 5rem;
  color: var(--gray-400);
}

.header-content a:hover {
  color: #000;
  text-decoration: underline;
}
a {
  text-decoration: none !important;
  color: #000 !important;
  font-size: 1.8rem !important;
}
a:hover {
  transform: scale(1.1);
}

/* --HEADER */
.header-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.header-content > .logo {
  width: 100%;
  max-width: 12rem;
}

.header-content .bg-item {
  position: absolute;
  opacity: 32%;
  left: 0;
  top: -5rem;
  width: 40vw;
  z-index: -1;
}

.header-content button {
  font-family: 'Poppins', sans-serif;
}

.header-content nav {
  display: flex;
  font-size: 1.6rem;
  gap: 5rem;
  color: var(--gray-400);
}

.header-content a:hover {
  color: #000;
  text-decoration: underline;
}

.contain input {
  margin-left: 0 !important;
}
