@charset "UTF-8";
:root {
  --green-100: #e2f5ef;
  --green-300: #e3f9e7;
  --green-500: #3cbd96; /* Buttons background */
  --green-700: #204945; /* Headings and topics */
  --gray-400: #5a5f6a; /* Nav Links */
  --gray-300: #777e90; /* Sub-texts */
  --gray-200: #c9c9c9; /* Input-Borders and Input-Placeholders */
  --gray-100: #e5e5e5; /* Input-Borders */
  --red-500: #e74c3c; /* Error messages */
  --black: #000000;
  --white: #ffffff;
}

/* --REGRAS GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
}

a {
  all: unset;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--green-500);
  color: var(--white);
  font-size: inherit;
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: filter 200ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anybody', cursive;
}

button:hover {
  filter: brightness(0.8);
}

.mobile {
  display: none;
}

[class$='container'] {
  width: 100%;
}

[class$='content'] {
  max-width: 80vw;
  margin: 0 auto;
}

/* --HEADER */
.header-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.header-content > .logo {
  width: 100%;
  max-width: 12rem;
}

.header-content .bg-item {
  position: absolute;
  opacity: 32%;
  left: 0;
  top: -5rem;
  width: 40vw;
  z-index: -1;
}

.header-content button {
  font-family: 'Poppins', sans-serif;
}
#user-name {
  margin-top: -1.5rem !important;
  background-color: var(--green-500);
  border: none;
  font-size: 1.8rem !important;
  border-radius: 1rem !important;
  padding: 1rem 2rem;
  transition: filter 200ms;
  padding: 1rem 2rem;
  font-family: 'Poppins', sans-serif;
}

.header-content nav {
  display: flex;
  font-size: 1.6rem;
  gap: 5rem;
  color: var(--gray-400);
}

.header-content a:hover {
  color: #000;
  text-decoration: underline;
}
a {
  text-decoration: none !important;
  color: #000 !important;
  font-size: 1.8rem !important;
}

.desktop a:hover {
  transform: scale(1.1);
}
.section-title {
  font-size: 4.8rem;
  font-weight: bold;
  color: var(--green-700);
}

.section-subtitle {
  color: var(--gray-300);
  font-size: 1.6rem;
  font-weight: 500;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  margin-bottom: 1rem;
}
.header-content a:hover {
  text-decoration: underline;
}
.header-content svg {
  height: 1.6rem;
}
.header-content svg:hover {
  cursor: pointer;
}
.header-content h3 {
  display: flex;
  align-items: center;
}
.header-content .selected {
  filter: invert(69%) sepia(7%) saturate(3545%) hue-rotate(111deg)
    brightness(94%) contrast(77%);
}

.nav-links {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.nav-links svg {
  transform: translateY(0.2rem);
}

.user-area {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--gray-100);
  border-radius: 3rem;
  padding: 1rem 2rem;
}
.user img {
  height: 5rem;
  border-radius: 1rem;
}
.user .user-img {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background: url('https://www.mantruckandbus.com/fileadmin/media/bilder/02_19/219_05_busbusiness_interviewHeader_1485x1254.jpg');
  background-size: cover;
}
.user:hover {
  cursor: pointer;
}

/* --Navegação-- */
.navega {
  width: 100%;
  color: #5a5f6a;
  font-size: 1.6rem;
  display: flex;
  padding-top: 2rem;
  justify-content: start;
}
.navega * {
  background-color: #f5f5f7;
  padding: 0.5rem;
}

.barra-top {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
.barra-top .voltar {
  text-align: center;
  margin: 0 2em 0 0;
}
.barra-top .title-top {
  width: 100vw;
  font-size: 1rem;
}
.barra-top .adicionar {
  margin-left: 30vw;
}
.barra-top .top-right {
  display: flex;
  justify-content: space-evenly;
}
.barra-top .top-right h2 {
  font-size: 1.3rem;
  background-color: var(--green-500);
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
  opacity: 80%;
  margin: 0 1.5vw;
}
.barra-top .top-right p {
  font-size: 1rem;
}

.dash1 {
  margin: 3em auto;
  display: flex;
  width: 60vw;
  padding: 20px;
}
.dash1 div {
  width: 60vw;
  align-items: center;
  background-color: #a9cfc4;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  border-bottom: 5rem solid #fff;
}
.dash1 h2 {
  align-self: start;
  font-size: 3rem;
  background-color: #fff;
  padding: 5px 10px;
  margin-left: -10px;
  margin-bottom: 50px;
}
.dash1 p1 {
  align-self: start;
  margin-top: -40px;
  margin-bottom: 10px;
  font-size: 1.3em;
}
.dash1 span {
  align-self: flex-end;
  background-color: #045801;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 2rem;
}
.dash1 p {
  font-size: 20px;
  color: #696969;
}
.dash1 p5 {
  font-size: 2em;
  background-color: #3cbd96;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  margin: -50px 0 10px 0;
}
.dash1 p3 {
  color: #fff;
  font-size: 2rem;
}
.dash1 p4 {
  margin: 20px;
  font-size: 2rem;
  color: #fff;
  background-color: #0e3a00;
  width: 60vw;
  text-align: center;
  padding: 5px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}
form input {
  font-size: 2.5rem !important;
  border-radius: 5px;
}
form button {
  font-size: 2.5rem !important;
  border-radius: 5px;
  align-self: center;
  margin-top: 10px;
  background-color: #3cbd96 !important;
}

/* --FOOTER */
.footer-section {
  padding: 8.4rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content nav ul {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.footer-content nav ul li a {
  font-size: 1.6rem;
  font-weight: 700;
}

.footer-truck-logo {
  margin: 0 1.6rem;
}

.footer-truck-logo img {
  width: 8rem;
  transition: all 0.3s;
}

.footer-content nav ul {
  padding: 4.2rem;
  border-bottom: 1px solid var(--gray-400);
}

.footer-content nav ul li a:hover:not(.footer-truck-logo) {
  color: var(--green-700);
  border-bottom: 3px solid #3cbd96;
}

.footer-truck-logo img:hover {
  transform: scale(1.1);
}

.social-media-container {
  margin: 4.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

.social-media-container > div {
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--gray-400);
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  text-align: center;
}

.social-media-container > div i {
  font-size: 3rem;
}

.social-media-container > div a {
  width: 100%;
}

.social-media-container > div:hover {
  transform: scale(1.1);
}

.footer-info-container {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.footer-info-container span {
  display: flex;
  gap: 0.8rem;
  padding: 0.4 0;
}

.footer-info-container span a:hover {
  color: var(--green-700);
  border-bottom: 2.5px solid #3cbd96;
} /*# sourceMappingURL=style.css.map */
